<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SUKSES2"></activity>
        <activity android:name=".activity.FinalHomePage" />
        <activity android:name=".activity.RaningFinalDemo" />
        <activity android:name=".activity.SuksesPremi2" />
        <activity android:name=".activity.SuksesPremi1" />
        <activity android:name=".activity.DonasiPremiCheckOuts" />
        <activity android:name=".activity.DonasiPremiRutin" />
        <activity android:name=".activity.DonasiPremiTunggal" />
        <activity android:name=".activity.PopUp2" />
        <activity android:name=".activity.PopUp1" />
        <activity android:name=".activity.WHYUS3" />
        <activity android:name=".activity.WHYUS2" />
        <activity android:name=".activity.WHYUS1" />
        <activity android:name=".activity.Ranking" />
        <activity android:name=".activity.SUKSES1" />
        <activity android:name=".activity.SUKSES2" />
        <activity android:name=".activity.BPJSZakatSehatT" />
        <activity android:name=".activity.BPJSZakatSehatH" />
        <activity android:name=".activity.BPJSActivityZakatMenu" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>